<!DOCTYPE html>
<html>
  <head>
    <title>BulkimportQuiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top:50px;">
    <div class="container main-layout">
      <div class="notification">
        <% if flash[:notice] %>
          <p class="alert alert-success" role="alert"><%= notice %></p>
        <% elsif flash[:alert] %>
          <p class="alert alert-danger" role="alert"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
